USE [GraduateDb]
GO
/****** Object:  Table [dbo].[DoctorTb]    Script Date: 30/10/2020 9:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorTb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Maximum of Reg] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_DoctorTb] UNIQUE NONCLUSTERED 
(
	[DoctorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTb]    Script Date: 30/10/2020 9:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTb](
	[projectId] [int] IDENTITY(1,1) NOT NULL,
	[DocId] [int] NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[Projectcode] [nvarchar](15) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[projectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Projectcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegisterTb]    Script Date: 30/10/2020 9:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterTb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateReg] [datetime] NULL,
	[StudentName] [nvarchar](100) NOT NULL,
	[StudentRegNo] [int] NOT NULL,
	[projectId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[StudnetPhoneNumber] [varchar](15) NULL,
 CONSTRAINT [PK__Register__3213E83F66875474] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Register__1EAA418F9EE2C2B5] UNIQUE NONCLUSTERED 
(
	[StudentRegNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Register__68AEF93FCE4876A6] UNIQUE NONCLUSTERED 
(
	[StudentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTb]    Script Date: 30/10/2020 9:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTb](
	[StundentRegNo] [int] NOT NULL,
	[StundentName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StudentTb] PRIMARY KEY CLUSTERED 
(
	[StundentRegNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DoctorTb] ADD  CONSTRAINT [DF_DoctorTb_Maximum of Reg]  DEFAULT ((500)) FOR [Maximum of Reg]
GO
ALTER TABLE [dbo].[ProjectTb]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTb_DoctorTb] FOREIGN KEY([DocId])
REFERENCES [dbo].[DoctorTb] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProjectTb] CHECK CONSTRAINT [FK_ProjectTb_DoctorTb]
GO
ALTER TABLE [dbo].[RegisterTb]  WITH CHECK ADD  CONSTRAINT [FK_RegisterTb_ProjectTb] FOREIGN KEY([projectId])
REFERENCES [dbo].[ProjectTb] ([projectId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[RegisterTb] CHECK CONSTRAINT [FK_RegisterTb_ProjectTb]
GO
